.navigation {
    //margin: 26px 0;
    display: grid;
    width: 264px;
    min-height: 900px;
    height: 100%;
    background: #243465;
    border: 0.5rem solid #16203d;
    border-radius: 10px;    
    
    position: relative;

    a {
        margin: 10px;
        padding: 10px;
        position: relative;
        color: white;
        animation: 3s ease-in 1s infinite reverse both running slidein;
    }

    li:hover {
        transform: translate(10px);
        animation: 3s ease-in 1s infinite reverse both running slidein;
    }

    .active {
        &::after {
            content: "";
            width: 85%;
            height: 5px;
            background: white;
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
            animation: 3s ease-in 1s 2 reverse both paused slidein;
        }
    }
}