.navigation {
    //margin: 26px 0;
    display: grid;
    width: 264px;
    min-height: 900px;
    height: 100%;
    background: #243465;
    border: 0.5rem solid #16203d;
    border-radius: 10px;
    margin-right: 1px;
    text-align: center;
    
    position: relative;

    a {
        margin: 10px;
        padding: 10px;
        position: relative;
        color: white;
    }

    button {
        padding: 10px;
        max-width: 150px;
        background-color: #3d5aaf;
        border-radius: 40%;
        color: white;
        font-weight: bold;
    }


    button:hover {
        background-color: rgb(69, 75, 129); 
        -webkit-transition: transform 0.3s ease-in-out;
    }

    .active {
        button {
            background-color: white;
            color: black;
            border: 0.5rem solid #16203d;
        }
    }
}