.experiences {

    .experiencesContent{
        border-radius: 10px;
        width: 100%;
        position: relative;
        min-height: 900px;
        height: 100%;
        overflow: hidden;
        background: #243465;
    }
    
}