.Home {
    .homeContent {
        border-radius: 10px;
        width: 100%;
        position: relative;
        min-height: 900px;
        height: 100%;
        overflow: hidden;
        text-align: center;
        background: #243465;
        border: 0.5rem solid #16203d;

        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }
    

}