.profile {

    .profileContent{
        border-radius: 10px;
        width: 100%;
        position: relative;
        min-height: 900px;
        height: 100%;
        overflow: hidden;
        text-align: center;
        background: #243465;
        border: 0.5rem solid #16203d;
    }
    img {
        height: 20%;
        width: 20%;
    }
    
}