.skills_edu {

    .Skills_EduContent{
        border-radius: 10px;
        width: 100%;
        position: relative;
        min-height: 900px;
        height: 100%;
        overflow: hidden;
        background: #243465;
        border: 0.5rem solid #16203d;
        display: grid;
        text-align: center;

        grid-template-areas:
            "T T"
            "S S"
            "E L";
        grid-template-columns: 70% 30%;
        grid-template-rows: 10% 40% 50%;


        p {
            padding-left: 20px;
            padding-top: 20px;
            line-height: 2;
            
            big {
                padding: 15px;
            }
        }
        h2 {
            padding-left: 10px;
        }

        h1 {
            grid-area: T;
            margin-top: 10px;
        }
        .skills{
            border: 0.5rem solid #16203d;
            grid-area: S;
            margin: 2px;
            text-align: left;
            border-radius: 10px;
            background-color: #2e3b83;
        }

        .education {
            border: 0.5rem solid #16203d;
            grid-area: E;
            margin: 2px;
            text-align: left;
            border-radius: 10px;
            background-color: #2e3b83;

            p{
                line-height: 1.5;
            }
        }

        .languages {
            border: 0.5rem solid #16203d;
            grid-area: L;
            margin: 2px;
            text-align: left;
            border-radius: 10px;
            background-color: #2e3b83;
            p{
                line-height: 3;
            }       
        }
    }
}
@media only screen and (max-width: 900px) {
    .skills_edu {
        .Skills_EduContent {
            grid-template-columns: 60% 40%;
            p {
                line-height: 1.2;
                big {
                    padding: 0;
                }
            }
            .languages, .education {
                p {
                    line-height: 1.2;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .skills_edu {
        .Skills_EduContent {
            grid-template-areas:
            "T"
            "S"
            "E"
            "L";
            grid-template-columns: 100%;
            grid-template-rows: 7% 33% 37% 23%;

            h1 {
                font-size: 1.2em;
            }
            p {
                line-height: 1.1;
                big {
                    padding: 0;
                }
            }
            .languages, .education {
                p {
                    line-height: 1.1;
                }
            }
        }
    }
}